.page-header {
  margin-bottom: var(--row-gap-medium);

  & > p:first-child {
    margin-top: 0;
    margin-bottom: var(--row-gap-medium);
  }
}

.page-title {
  font: var(--font-display);
  letter-spacing: var(--font-display-spacing);
  margin: 0;
}

.page-navigation {
  margin-bottom: var(--row-gap-medium);
  font: var(--font-small);

  & ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    gap: .5em;
  }

  & h2 {
    font: var(--font-ui-bold);
    margin: .5em 0;
  }
}

.pagination {
  font: var(--font-ui);
  border-top: solid 1px var(--color-line);
  margin-top: var(--row-gap-medium);
}

.pagination a {
  color: var(--color-dim);
  display: block;
}

.pagination strong {
  color: var(--color-base);
  display: block;
}

.pagination a:hover {
  color: var(--color-dim);
  text-decoration: none;
}

.pagination a:hover strong {
  color: var(--color-primary);
  text-decoration: none;
}
