.post-list {
  display: grid;
  gap: 5rem;
  place-content: center;
}

.post-list .post-title {
  font: var(--font-title);
  letter-spacing: var(--font-title-spacing);

  a {
    text-decoration: none;
  }
}

.post-card {
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr 3fr;

  img {
    max-width: 100%;
  }
}

.post-card-img {
  text-align: center;
}

.post-card-summary {
  display: grid;
  grid-auto-columns: 1fr;
  gap: 0.5rem;
}


@media screen and (max-width: 54em) {
  .post-card {
    gap: 1rem;
    grid-template-columns: 1fr;
  }

  .post-card-img {
    img {
      width: max(18vw, 180px);
    }
  }

}
