.post-list {
  display: grid;
  gap: 5rem;
  place-content: center;
}

.post-list .post-title {
  font: var(--font-title);
  letter-spacing: var(--font-title-spacing);

  a {
    text-decoration: none;
  }
}

.post-list .post-card {
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr 3fr;
}

.post-list .post-card .post-card-summary {
  display: grid;
  grid-auto-columns: 1fr;
  gap: 0.5rem;
}

.post-list .post-card .post-card-img{
  text-align: start;

  img {
    aspect-ratio: 180 / 270;
    max-width: 100%;
    object-fit: fill;
    border-radius: 15px;
    background-color: var(--color-background);
  }
}

@media screen and (max-width: 54em) {
  .post-list .post-card {
    gap: 1rem;
    grid-template-columns: 1fr;
  }

  .post-list .post-card .post-card-img{
    text-align: center;
  
    img {
      aspect-ratio: 180 / 270;
      width: 180px;
    }
  }

}
