---
layout: layouts/base.vto
bodyClass: body-home
title: Home
---

<section class="postList">
{{ include "templates/post-list.vto" { postslist: search.pages("type=post", "date=desc", 5) } }}
</section>

<hr>

<p>{{ i18n.nav.archive }}</p>
