/* Lume's design system */
@import "css/ds.css";

/* Custom components */
@import "css/badge.css";
@import "css/navbar.css";
@import "css/pagination.css";
@import "css/post-list.css";
@import "css/post.css";

/* Make the links black */
:root {
  --color-link: var(--color-base);
  --color-background: #f3f4f7;
  --color-line: #e0e4eb;
  --color-link: var(--color-base);
  --color-link-hover: var(--color-primary);
  --font-body: clamp(1rem, 1vw, 1.1rem)/1.7 var(--font-family-ui);
  --font-display: bold clamp(2rem, 10vw, 2.8rem)/1.2 var(--font-family-ui);
}

body {
  font-size: 1.125rem;
  font: var(--font-body);

  letter-spacing: var(--font-body-spacing);
}

/* Page layout */
/*
  - container
    - navbar
    - main
    - footer
*/

.container {
  max-width: min(100% - 18vw, 50rem); /* */
  margin: 0 auto;
  padding-top: var(--row-gap-medium);
  padding-bottom: var(--row-gap-medium);

  display: grid;
  gap: 8rem;
}


.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.main {
  display: grid;
  gap: 3rem;
}

.footer {
  display: grid;
  gap: 0.1rem;
  justify-content: center;
}

.footer > p {
  margin: 0;
  letter-spacing: normal;
  font: var(--font-small);
  color: var(--color-dim);
}

/* Content class */


h1 {
  font: var(--font-display);
  letter-spacing: var(--font-display-spacing);
  margin: 0;
}














/* Search tweak */
.search {
  margin-top: var(--row-gap-xsmall);
}

/* Override dark scheme */
@media (prefers-color-scheme:dark) {
  :root {
    --color-base: #14181f;
    --color-text: #29303d;
    --color-dim: #525f7a;
    --color-highlight: #f3f4f7;
    --color-primary: #bf4040;
    --color-primary-highlight: #933;
    --code-text: var(--color-base);
    --code-comment: #708090;
    --code-token-1: #91084d;
    --code-token-2: #913608;
    --code-token-3: #086891;
    --code-token-4: #369108;
    --code-inserted: #639108;
    --code-deleted: #910853;
    --code-border: var(--color-line);
    --code-background: var(--color-highlight);
    --code-background-selection: #b3d4fc;
    color-scheme: dark
  }
}

::selection {
  background: var(--color-line);
}

.book-img {
  aspect-ratio: 2 / 3;
  border-radius: 0.5em;
  background-color: var(--color-background);
}
